@import "../theme";

:local(.button) {
  display: flex;
  border: none;
  border-radius: 4px;
  background: $blue;
  color: $white;
  white-space: nowrap;
  min-height: 24px;
  font-size: 12px;
  font-family: Lato;
  padding-top: 1px;
  text-align: center;
  cursor: pointer;

  &:disabled {
    background-color: red;
  }

  &:disabled {
    background: $panel2;

    &:hover {
      background-color: $panel2;
    }
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-pressed;
  }
}
