@import "../theme";

:local(.icon) {
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  width: 180px;
  height: 180px;

  &:local(.selected) {
    background-color: $selected;
  }

  :local(.image) {
    width: 150px;
    height: 150px;
  }

  :local(.name) {
    margin-top: 12px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
  }
}

:local(.small) {
  padding: 8px;
  width: 160px;
  height: 50px;

  :local(.image) {
    margin: 0 4px;
    width: 50px;
    height: 50px;
  }

  :local(.name), :local(.type) {
    margin-top: 2px;
    font-size: 11px;
  }

  :local(.type) {
    color: $deemphasized;
  }
}
