@import "../theme";

:local(.inputGroup) {
  display: flex;
  flex-direction: row;
  padding: 0 8px;

  &:local(.disabled) {
    pointer-events: none;
    opacity: 0.3;
  }

  :local(.label) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  :local(.name) {
    display: block;
    color: $text2;
  }

  :local(.content) {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
  }
}