@import "../theme";

:local(.inputGroup) {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  flex: 1;
  min-height: 24px;

  &:local(.disabled) {
    pointer-events: none;
    opacity: 0.3;
  }

  :local(.label) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  :local(.name) {
    display: block;
    color: $text2;
    width: 42%;
    padding-bottom: 2px;
  }

  :local(.content) {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}