:local(.inputGroup) {
  display: flex;
  flex-direction: row;

  :local(.label) {
    display: flex;
    align-items: center;
    padding-right: 8px;
    width: 100%;
    text-align: right;
  }

  :local(.name) {
    display: block;
    flex: 1;
  }

  :local(.content) {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    flex: 2.4;
  }
}
