@import "../theme";

:local(.propertyGroup) {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;

  :local(.name) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    background-color: $header;
    font-size: 13.3px;
    :last-child {
      margin-left: auto;
    }
  }

  :local(.content) {
    padding: 0 8px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 8px;
    }
  }

  :local(.src) {
    display: block;
    text-align: center;
    margin: 0.5em;
    margin-bottom: 0.7em;
    padding: 0.2em;
    background: $selected;
  }

  :local(.invalidSrc) {
    display: block;
    text-align: center;
    margin: 0.5em;
    color: $red;
  }

  :local(.saveButtons) {
    display: flex;
    margin: 0.5em;
    justify-content: space-evenly;
  }

  :local(.saveInfo) {
    background: $selected;
    padding: 0.1em 0.5em 0.2em 0.5em;
    width: auto;
    display: inline;
    align-self: center;
    box-shadow: $shadow-30;
    margin: 0.3em 0;
    :local(.icon), :local(.text) {
      vertical-align: middle
    }
    :local(.icon) {
      width: 14px;
    }
    :local(.text) {
      padding-left: 0.3em;
      color: $blue;
      font-size: 12px;
    }
  }
}
