@import "../theme";
@import "../icons";

:local(.propertyGroup) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid $border;

  :local(.header) {
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: $panel;
    font-weight: bold;
    color: $text2;
    padding: 0 8px 8px;
    :last-child {
      margin-left: auto;
    }
  }

  :local(.lightHeader) {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-weight: bold;
    color: $text2;
    padding: 0 8px 8px;
    :last-child {
      margin-left: auto;
    }
  }

  :local(.description) {
    background-color: $panel;
    color: $text2;
    white-space: pre-wrap;
    padding: 0 8px 8px;
  }

  :local(.content) {

    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 8px;
    }
  }

  :local(.src) {
    padding-left: 8px;
    color: #5d646c;
    margin-bottom: 12px;
    display: block;

    &:before {
      @extend .fas;
      content: fa-content($fa-var-adjust);
      padding-right: 6px;
    }
  }

  :local(.invalidSrc) {
    color: $red;
  }

  :local(.saveButtons) {
    display: flex;
    margin: 0.5em;
    justify-content: space-evenly;
  }

  :local(.saveInfo) {
    background-color: $panel2;
    padding: 4px;
    display: inline;
    margin: 8px 0;
    text-align: center;
    :local(.icon), :local(.text) {
      vertical-align: middle
    }
    :local(.icon) {
      width: 14px;
      padding-right: 4px;
    }
    :local(.text) {
      padding-left: 0.3em;
      color: $text;
    }
  }
}
