@import "../theme";

:local(.propertyGroup) {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;

  :local(.name) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    background-color: $header;
    :last-child {
      margin-left: auto;
    }
  }

  :local(.content) {
    padding: 0 8px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 8px;
    }
  }

  :local(.uri) {
    height: 1em;
    display: block;
  }

  :local(.saveButtons) {
    display: flex;
    justify-content: space-evenly;
  }
}
