@import "../theme";

:local(.propertyGroup) {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $border;

  :local(.name) {
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: $panel;
    font-weight: bold;
    color: $text2;
    padding: 0 8px;
    :last-child {
      margin-left: auto;
    }
  }

  :local(.content) {

    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 8px;
    }
  }

  :local(.src) {
    display: block;
    text-align: center;
    margin: 0.5em;
    margin-bottom: 0.7em;
    padding: 0.2em;
    background: $selected;
  }

  :local(.invalidSrc) {
    color: $red;
  }

  :local(.saveButtons) {
    display: flex;
    margin: 0.5em;
    justify-content: space-evenly;
  }

  :local(.saveInfo) {
    background-color: $panel2;
    padding: 4px;
    display: inline;
    margin: 8px 0;
    text-align: center;
    :local(.icon), :local(.text) {
      vertical-align: middle
    }
    :local(.icon) {
      width: 14px;
      padding-right: 4px;
    }
    :local(.text) {
      padding-left: 0.3em;
      color: $text;
    }
  }
}
