@import "../theme";

:local(.bar) {
  background-color: $background;
  border-radius: 2px;
  box-shadow: $shadow-30;
  display: flex;
  font-size: 12px;
  height: 100%;
  margin: 2% auto;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;

  :local(.icon) {
    height: auto;
    margin: auto 0 auto 2%;
    width: 5%;

    img {
      display: block;
      height: auto;
      vertical-align: middle;
      width: auto;
    }
  }

  :local(.content) {
    display: inline-block;
    margin: auto 0 auto 5px;
    text-align: justify;
    width: 90%;

    &.error {
      color: $red;
    }

    &.warning {
      color: $yellow;
    }
  }

  :local(.options) {
    display: flex;
    margin: auto 2%;
    width: 20%;
  }

  :last-child {
    margin-left: auto;
  }
}
