@import "../theme";

:local(.tab) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 0 8px;
  background-color: $background;
  border: 1px solid $border;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  &:local(.selected) {
    background-color: $selected;
  }
}