@import "../theme";

:local(.stringInput) {
  display: flex;
  width: 100%;
  color: $text;
  background-color: $input-background;
  border: none;
  padding-left: 6px;
  font-size: 16px;
  height: 24px;
}

