:local(.vector3Input) {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  .react-numeric-input {
    display: flex;
    flex: 1 1 auto;
  }
}

:local(.label) {
  display: flex;
  align-items: center;
  padding: 0 8px;
}