$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

:global {
  @mixin solidIcon {
    @extend .fas;
    padding: 0 8px;
  }

  @mixin regularIcon {
    @extend .far;
    padding: 0 8px;
  }

  .fas {
    box-sizing: content-box;
  }

  .icon-node {
    &:before {
      @include regularIcon;
      content: fa-content($fa-var-circle);
    }
  }

  .icon-root {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-globe);
    }
  }

  .icon-scene {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-cube);
    }
  }

  .icon-folder {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-folder);
    }
  }

  .icon-file {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-file);
    }
  }

  .icon-file-image {
    &:before {
      @include regularIcon;
      content: fa-content($fa-var-file-image);
    }
  }

  .icon-model {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-cube);
    }
  }

  .icon-material {
    &:before {
      @include solidIcon;
      content: fa-content($fa-var-adjust);
    }
  }

  .icon-large {
    &:before {
      font-size: 40px;
    }
  }
}
