:local(.iconGrid) {
  display: flex;
  flex: 1;
}

:local(.item) {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

:local(.icon) {
  width: 175px;
  height: 175px;
}
