.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
example/generated/
example/imported/
.certs/
certs/
.env
release/spoke-linux
release/spoke-macos
release/spoke-win.exe
release/*.zip
bin/.spoke-server
test/integration/.spoke-server
test/integration/project/generated
.tersercache
results/
test/reports/*.xml
