RETICULUM_SERVER="${HUBS_HOST}:4000"
HUBS_SERVER="${HUBS_HOST}:4000"
ROUTER_BASE_PATH="/spoke"
NODE_TLS_REJECT_UNAUTHORIZED=0
BASE_ASSETS_PATH="https://${HUBS_HOST}:9090/"
CORS_PROXY_SERVER="${PROXY_HOST}:4080"
NON_CORS_PROXY_DOMAINS="${PROXY_HOST},${HUBS_HOST}"
INTERNAL_HOSTNAME="${HUBS_HOST}"
THUMBNAIL_SERVER="${THUMBNAIL_HOST}:5000"
BACKEND_URL="${XRCLOUD_BACKEND_URL}"
