:local(.hotkeyDescription) {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
  
}

:local(.separator) {
  margin: 0 4px;
}