@import "../styles/theme";

:local(.loginSection) {
  padding: 100px 0;
}

:local(.loginContainer) {
  display: flex;
  flex-direction: column;
  padding: 60px;
  margin: 0 auto;
  max-width: 480px;
  background: $panel;
  border-radius: 8px;
}