@import "../../theme";

:local(.container) {
  position: absolute;
  height: 300px;
  margin: 0;
  padding: 20px;
  width: 400px;
  left: 50%;
  top: 25%;
  right: auto;
  bottom: auto;
  background: $input-background;
  color: $text;
}

:local(.header) {
  text-align: left;
  width: 100%;
  height: 20%;
}

:local(.message) {
  height: auto;
  text-align: left;
  width: 100%;
  height: 60%;
  :local(span) {
    margin-top: 10px;
    display:block;
  }
}

:local(.actions) {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  bottom: 5px;

  :local(button) {
    text-align: center;
    margin: 5px;
    height: 35px;
    border-radius: 2px;
    border: 2px;
  }
}

:local(.error) {
  color: $red;
}

:local(.default) {
  color: $input-background;

}
