@import "../../theme";

:local(.container) {
  height: 720px;
  margin: 0;
  padding: 0;
  width: 1280px;
}

:local(.header) {
  text-align: left;
  width: 100%;
  height: 20%;

}

:local(.content) {
  height: auto;
  text-align: left;
  width: 100%;
}

:local(.actions) {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  :local(button) {
    text-align: center;
  }
}

:local(.error) {
  color: $red;
}
