@import "./styles/theme";

:local(.error) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: $red;

  svg {
    margin-bottom: 20px;
  }
}