:local(.loading) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 300px;

  svg {
    margin-bottom: 20px;
  }
}

:local(.fullScreen) {
  width: 100vw;
  height: 100vh;
}