version: 2

aliases:
  - &defaults
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10-browsers

jobs:
  build_and_test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Chrome
          command: |
            sudo apt-get update
            sudo apt-get install lsb-release libappindicator3-1
            curl -L -o google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo dpkg -i google-chrome.deb
            rm google-chrome.deb
            echo 'export CHROME_PATH=/opt/google/chrome/google-chrome' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Add hubs.local to /etc/hosts
          command: echo "127.0.0.1  hubs.local" >> /etc/hosts
      - run: yarn
      - run: yarn test
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
  deploy_ghpages:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: yarn deploy-storybook --ci

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build_and_test
      - deploy_ghpages:
          requires:
            - build_and_test
          filters:
            branches:
              only: master