@import "../../common";
@import "../../theme";

:local(.menu:first-child) {
  margin-left: 6px;
}
:local(.menu) {
  @include no-select;
  display: flex;
  height: 100%;
  position: relative;
  padding: 0 6px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
}

:local(.dropdown) {
  left: 0;
  top: 24px;
  position: absolute;
  background-color: $dropdown;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
