@import "../../theme";

:local(.wrapper) {
  width: 124px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;

  :local(.header) {
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 32px;

    :local(.headerTitle) {
      margin: 0px 1px;
      & + i {
        text-align: center;
        width: 12px;
        height: 12px;
        margin: 0px 1px;
      }
    }
  }

  :local(.list) {
    padding: 4px 0px;
    background-color: $background;
    border-radius: 4px;
    list-style-type: none;
    :local(.listItem) {
      margin: 4px 0px;
      display: inline-block;
    }
  }
}
