@import "../../theme";

:local(.toolbar) {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: $toolbar;

  :local(.toolbtns) {
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
  }

  :local(.tooltoggles) {
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    background-color: $toolbar2;
    align-items: center;
  }

  :local(.spacer) {
    flex: 1;
  }

  :local(.publishButton) {
    align-self: center;
    margin: 1em;
    padding: 0 2em;
  }
}
