@import "../../theme";

:local(.toolbtn) {
  width: 40px;
  height: 40px;
  border: none;
  color: $white;
  cursor: pointer;
  > i {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
  &:hover {
    background-color: $panel2;
  }
}

:local(.selected) {
  background-color: $blue !important;
}

:local(.unselected) {
  background-color: $toolbar;
}
