@import "../../theme";

:local(.menuItem) {
  display: flex;
  height: 24px;
  align-items: center;
  padding: 2px 12px;
  white-space: nowrap;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}