@import "../../theme.scss";
@import "../../global.scss";

:local(.dialogContainer) {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 4px;
  background-color: $dropdown;
  font-family: $lato;
  font-size: 12px;
  color: $text;
  max-width: 800px;
  margin: 100px;
  min-width: 400px;
  min-height: 150px;
}

:local(.content) {
  display: flex;
  flex: 1;
  flex-direction: row;
  // This forces firefox to give the contents a proper height.
  overflow: hidden;
  padding: 8px;
}

:local(.bottom) {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

   > * {
    margin-right: 8px;

    &:first-child {
      margin-left: 8px;
    }
  }
}