:local(.fileDialog) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:local(.content) {
  display: flex;
  flex: 1;
  flex-direction: row;
  // This forces firefox to give the contents a proper height.
  overflow: hidden;
}

:local(.leftColumn) {
  margin: 8px;
  display: flex;
  width: 200px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

:local(.rightColumn) {
  margin: 8px;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

:local(.bottom) {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

   > * {
    margin-right: 8px;

    &:first-child {
      margin-left: 8px;
    }
  }
}

:local(.fileNameLabel) {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}

:local(.node) {
  padding: 4px 5px;
}
