@import "../../theme.scss";

:local(.content) {
  display: flex;
  flex: 1;
  flex-direction: row;
  // This forces firefox to give the contents a proper height.
  overflow: hidden;
  min-width: 800px;
  min-height: 400px;
}

:local(.leftColumn) {
  padding: 0 0 8px 8px;
  display: flex;
  width: 200px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid $border;
  background-color: $panel2;
}

:local(.rightColumn) {
  padding: 8px;
  display: flex;
  flex: 1;
  overflow-y: auto;
  background-color: $panel;
}

:local(.fileNameLabel) {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}

:local(.node) {
  padding: 4px 5px;
}
