:local(.optionDialog) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:local(.content) {
  display: flex;
  flex: 1;
  flex-direction: row;
}

:local(.bottom) {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

   > * {
    margin-right: 8px;

    &:first-child {
      margin-left: 8px;
    }
  }
}