@import "../styles/common";
@import "../styles/theme";
@import "../styles/icons";

:local(.booleanInput) {
  input {
    display: none;
  }

  label {
    @include input;
    padding: 0;
    width: 18px;
    height: 18px;
    margin: 4px;
    cursor: pointer;
    position: relative;
    display: block;
  }

  input ~ label:before {
    position: absolute;
    top: 3px;
    left: 2px;
  }

  input:checked ~ label:before {
    color: $blue;
    @extend .fas;
    content: fa-content($fa-var-check);
  }

  input:disabled ~ label {
    background-color: $disabled;
    color: $disabled-text;
  }
}