@import "../styles/common";
@import "../styles/theme";

:local(.colorInput){
  display: flex;
  position: relative;
  width: 100%;

  :local(.block) {
    display: flex;
    align-items: center;
    padding: 4px;
    background: $input-background;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    cursor: pointer;
    width: 20%;
    height: 24px;

    :local(.color) {
      width: 100%;
      height: auto;
      border-radius: 2px;
      padding: 6px;
    }
  }

  :local(.popover) {
    position: fixed;
    z-index: 100;
    box-shadow: $shadow-30;
    margin-bottom: 3px;
    :local(.cover) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  :local(.colorInput) input {
    @include input;
    border-radius: 0px 4px 4px 0px;
  }

  &:hover {
    :local(.block) {
      border-color: $blue-hover;
    }

    :local(.colorInput) input {
      border-color: $blue-hover;
    }
  }

  &:focus {
    :local(.block) {
      border-color: $blue;
    }

    :local(.colorInput) input {
      border-color: $blue;
    }
  }

}
