@import "../styles/theme";

:local(.uploadFileButton) {
  label {
    display: flex;
    border: none;
    border-radius: 4px;
    background: $blue;
    color: $white;
    white-space: nowrap;
    min-height: 24px;
    font-size: 12px;
    font-family: Lato;
    text-align: center;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    padding: 1px 6px;

    &:disabled {
      background: $disabled;
      color: $disabled-text;

      &:hover {
        background-color: $disabled;
      }
    }

    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-pressed;
    }
  }

  input {
    display: none;
  }
}