:local(.formField) {
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 8px;
  }
}

:local(.inline) {
  display: flex;
  justify-content: space-between;

  & > * {
    margin-left: 30px;
    align-self: center;
  }

  & > :first-child {
    margin-left: 0;
  }
}