@import "../styles/theme";

:local(.inputGroup) {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  flex: 1;
  min-height: 24px;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  & > label {
    display: block;
    color: $text2;
    width: 42%;
    padding-bottom: 2px;
    padding-top: 4px;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}
