@import "../styles/theme";

:local(.leftContent) {
  display: flex;
  width: 360px;
  border-top-left-radius: inherit;
  align-items: center;
  padding: 30px;

  img {
    border-radius: 6px;
  }
}

:local(.rightContent) {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px 30px;
}