@import "../styles/theme";

:local(.progressContainer) {
  color: $text2;
  display: flex;
  flex: 1;
  flex-direction: column;
  // This forces firefox to give the contents a proper height.
  overflow: hidden;
  padding: 8px;
}

:local(.message) {
  padding-bottom: 24px;
  white-space: pre;
}