@import "../../common";
@import "../../theme";
@import "../../icons";

:local(.booleanInput) {
  input {
    display: none;
  }

  label {
    @include input;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin: 4px 0;
    padding: 0;
    cursor: pointer;
  }

  input:checked ~ label:before {
    color: $blue;
    @extend .fas;
    content: fa-content($fa-var-check);
  }
}