@import "../../theme";

:local(.colorInput){
  display: flex;
  position: relative;

  :local(.block) {
    display: flex;
    align-items: center;
    padding: 4px;
    background: $input-background;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    cursor: pointer;



    :local(.color) {
      width: 36px;
      height: 14px;
      border-radius: 2px;
    }
  }

  :local(.popover) {
    position: absolute;
    z-index: 2;
    box-shadow: $shadow-30;
    right: 0;
    top: 28px;
    :local(.cover) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  :local(.colorInput) input {
    border: none;
    color: $text;
    background-color: $input-background;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid $border;
    padding: 0;
    padding-left: 6px;
    height: 22px;
    width: 80px;
  }

  &:hover {
    :local(.block) {
      border-color: $blue-hover;
    }

    :local(.colorInput) input {
      border-color: $blue-hover;
    }
  }

  &:focus {
    :local(.block) {
      border-color: $blue;
    }

    :local(.colorInput) input {
      border-color: $blue;
    }
  }

}