@import "../../theme";

:local(.colorInput){
  display: flex;
  position: relative;
  :local(.block) {
    display: flex;
    align-items: center;
    padding: 5px;
    background: $input-background;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid $border;
    cursor: pointer;
    :local(.color) {
      width: 36px;
      height: 14px;
      border-radius: 2px;
    }
  }

  :local(.popover) {
    position: absolute;
    z-index: 2;
    box-shadow: $shadow-30;
    :local(.cover) {
      position: fixed;
      top: 0px;
      right: 20px;
      bottom: 0px;
      left: 0px;
    }
  }

  :local(.colorInput) input {
    border: none;
    color: $text;
    background-color: $input-background;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid $border;
    padding-left: 6px;
    height: 24px;
    width: 10em;
  }
}
