@import "../../theme";
@import "../../icons";

:local(.fileInput) {
  display: flex;
  background: $input-background;
  height: 24px;
  border: 1px solid $border;
  border-radius: 6px;

  &:hover {
    border-color: $blue-hover;
  }

  &:focus {
    border-color: $blue;
  }
}

:local(.fileInput input) {
  background: $input-background;
  color: $text;
  border: none;
  border-radius: 4px;
  margin-left: 4px;
}

:local(.fileInput button) {
  border-radius: 0 4px 4px 0px;
  background: $input-background;
  color: $text;

  &:hover {
    background: $blue;
    color: $white;
  }

  &:active {
    background: $blue-pressed;
    color: $white;
  }
  
  &:before {
    @extend .fas;
    content: fa-content($fa-var-ellipsis-h);
  }
}

:local(.invalidPath) {
  outline: 2px solid $red;
  color: $red;
  width: 100%;
  display: flex;
  padding: 0;
  overflow: hidden;
  :local(input) {
    color: $red;
  }
}

:local(.inputButton) {
  display: inline-block;
  height: 24px;
}
