@import "../../theme";

:local(.fileInput), :local(.fileInput input) {
  display: flex;
  width: 100%;
  color: $text;
  background-color: $input-background;
  border: none;
  padding-left: 6px;
  font-size: 14px;
  height: 24px;
}
:local(.fileInput) {
  background: none;
  padding: 0;
}
