@import "../../theme";

:local(.fileInput), :local(.fileInput input) {
  display: flex;
  width: 100%;
  color: $text;
  background-color: $input-background;
  border: none;
  padding-left: 6px;
  font-size: 14px;
  height: 24px;
}
:local(.fileInput) {
  background: none;
  padding: 0;
}

:local(.invalidPath) {
  outline: 2px solid $red;
  color: $red;
  width: 100%;
  display: flex;
  padding: 0;
  overflow: hidden;
  :local(input) {
    color: $red;
  }
}

:local(.inputButton) {
  display: inline-block;
}
