@import "../../theme";

:local(.numericInput) {
  display: flex;
  width: 4em;
  color: $text;
  background-color: $input-background;
  border: none;
  padding-left: 6px;
  font-size: 14px;
  height: 24px;
  box-sizing: border-box;
  cursor: col-resize;
  outline: none;
}
