@import "../../theme";

:local(.numericInput) {
  display: flex;
  width: 4em;
  color: $text;
  background-color: $input-background;
  border: none;
  padding-left: 6px;
  font-size: 16px;
  height: 24px;
  box-sizing: border-box;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
