@import "../styles/theme";

:local(.numericInput) {
  display: flex;
  width: 22%;
  color: $text;
  background-color: $input-background;
  border-radius: 4px;
  border: 1px solid $border;
  padding-left: 6px;
  font-size: 12px;
  height: 24px;
  box-sizing: border-box;
  cursor: col-resize;
  outline: none;

  &:hover {
    border-color: $blue-hover;
  }

  &:focus {
    border-color: $blue;
  }
}
