@import "../ui/styles/common";
@import "../ui/styles/theme";

:local(.authForm) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  align-self: center;

  & > * {
    margin-bottom: 20px;
  }

  input {
    @include input;
    font-size: 20px;
    padding: 8px;
    height: 36px;
  }

  button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: $blue;
    color: $white;
    white-space: nowrap;
    min-height: 36px;
    font-size: 16px;
    padding: 1px 6px;
  
    &:hover, &:active {
      background-color: $blue-pressed;
    }
  }

  h3 {
    font-size: 2em;
    color: $text;
  }

  h4 {
    font-size: 1.1em;
    color: text;
  }
}

:local(.error) {
  color: $red;
  margin-bottom: 20px;
}

:local(.legalText) {
  margin-bottom: 20px;
}