:local(.authEmailSentMessage) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  align-self: center;

  & > * {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }
}