@import "../../theme";
@import "../../icons";

:global {
  .assetExplorerPanel {
    .mosaic-window-title:before {
      @extend .fas;
      content: fa-content($fa-var-list-alt);
      padding-right: 8px;
    }
  }
}

:local(.assetExplorerPanelContainer) {
  display: flex;
  flex-direction: row;
  flex: 1;
}

:local(.leftColumn) {
  display: flex;
  width: 200px;
  height: 100%;
  overflow: auto;
  background-color: $panel2;
  padding-left: 8px;
}

:local(.rightColumn) {
  padding: 8px;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

:local(.node) {
  padding: 6px 4px;
}
