@import "../../common";
@import "../../theme";
@import "../../icons";

:global {
  .hierarchyPanel {
    .mosaic-window-title:before {
      @extend .fas;
      content: fa-content($fa-var-project-diagram);
      padding-right: 8px;
    }
  }
}

:local(.hierarchyRoot) {
  @include no-select;
  outline: none;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $text2;
}

:local(.breadCrumbBar) {
  display: flex;
  width: 100%;
  background-color: $panel2;
}

:local(.breadCrumb),:local(.ancestor) {
  padding-top: 4px;
  padding-bottom: 5px;
  border: none;
  border-left: 1px solid $border;
  font-size: 12px;
}

:local(button.breadCrumb) {
  cursor: pointer;
  color: $text;
  background-color: $panel2;

  &[disabled] {
    cursor: auto;
    color: $text2;
  }
}


:local(.tree) {
  outline: none;
  flex: 1;
  overflow: hidden;
  margin-left: 8px;
}
:local(.treeNode) {
  padding: 6px 0;
}

:local(.conflictDisplay) {
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 350px;
}
