@import "../../theme";

:local(.hierarchyRoot) {
  outline: none;
  width: 100%;
}

:local(.breadCrumb),:local(.ancestor) {
  display: block;
  width: 100%;
  border: none;
  padding: 4px;
  border-top: 1px solid $border;
  color: #737373;
  text-align: center;
  font-size: 14px;
}
:local(button.breadCrumb) {
  cursor: pointer;
  color: $text;
  background: $header;
  &[disabled] {
    cursor: auto;
  }
}


:local(.treeNode) {
  padding: 4px 5px;
}

