@import "../../common";
@import "../../theme";

:local(.propertiesPanelContainer) {
  @include no-select;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

:local(.propertiesHeader) {
  background-color: $panel2;
  border: none !important;
  padding-bottom: 0 !important;
}

:local(.propertiesHeaderTitle) {
  padding: 0 !important;
}

:local(.propertiesHeaderContent) {
  width: 100% !important;
  flex-flow: row wrap !important;
}

:local(.propertiesHeaderContent .InputGroup) {
  flex: 1;
  padding: 0 0 0 8px;
}


:local(.noNodeSelected) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:local(.staticSelect) {
  text-align: left;
  width: 128px;
}

:local(.addComponentContainer) {
  margin-top: 12px !important;
  width: 100%;
}

:local(.addComponentSelect) {
  width: 100%;

  & > div {
    background-color: $blue;
    text-align: center;
    border-radius: 0;
    border: none;
  }
}
