@import "../../common";

:local(.propertiesPanelContainer) {
  @include no-select;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

:local(.noNodeSelected) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:local(.addComponentContainer) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px !important;
}

:local(.addComponentSelect) {
  display: flex;
  flex: 1;
  margin-right: 8px;
  max-width: 300px;
}
