@import "../../common";
@import "../../theme";

:local(.propertiesPanelContainer) {
  @include no-select;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

:local(.noNodeSelected) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:local(.staticSelect) {
  text-align: left;
  width: 200px;
}

:local(.addComponentContainer) {
  margin-top: 12px !important;
}

:local(.addComponentSelect) {
  width: 100%;

  & > div {
    background-color: $blue;
    text-align: center;
    border-radius: 0;
    border: none;
  }
}
