@import "../../common";
@import "../../theme";
@import "../../icons";

:global {
  .propertiesPanel {
    .mosaic-window-title:before {
      @extend .fas;
      content: fa-content($fa-var-sliders-h);
      padding-right: 8px;
    }
  }
}

:local(.propertiesPanelContainer) {
  @include no-select;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

:local(.propertiesHeader) {
  background-color: $panel2;
  border: none !important;
  padding-bottom: 0 !important;
}

:local(.propertiesHeaderTitle) {
  padding: 0 !important;
}

:local(.propertiesPanelTopBar) {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  & > div {
    margin-bottom: 8px;
  }
}

:local(.noNodeSelected) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:local(.staticSelect) {
  text-align: left;
  width: 100%;
}

:local(.addComponentContainer) {
  margin-top: 12px !important;
  width: 100%;
}

:local(.addComponentSelect) {
  width: 100%;

  & > div {
    background-color: $blue;
    text-align: center;
    border-radius: 0;
    border: none;
  }
}

:local(.propertiesPanelContainer input[role="combobox"]) {
  color: $text;
  padding: 2px 0 0 0;
  width: 100% !important;
}

:local(.addComponentSelect input[role="combobox"]) {
  padding: 2px 0 0 4px !important;
  text-align: center;
}