@import "../styles/icons";

:global {
  .viewportPanel {
    .mosaic-window-title:before {
      @extend .fas;
      content: fa-content($fa-var-window-maximize);
      padding-right: 8px;
    }
  }
}

:local(.viewportPanelContainer) {
  display: flex;
  width: 100%;
}

:local(.libraryToolbarContainer) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

:local(.controls) {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  color: white;
  padding: 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
