:local(.header) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 12px;
  height: 24px;
  overflow: hidden;

  > * {
    display: flex;
    align-items: center;
  }
}