@import "../styles/theme";

:local(.footer) {
  display: flex;
  margin: 24px 0;
  font-size: 1.4em;

  a {
    text-decoration: none;
    display: flex;
  }

  nav {
    width: 100%;
  }
}

:local(.navList) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  li {
    display: flex;
    align-items: flex-end;
    padding: 0 20px;
    margin: 8px 0;
  }

  img {
    width: 172px;
    height: 49px;
    vertical-align: baseline;
  }
}

@media (min-width: 600px) {
  :local(.footer) {
    justify-content: flex-end;
  }

  nav {
    width: auto;
  }

  :local(.navList) {
    flex-direction: row;
    align-items: flex-end;

    li {
      margin: 0;
    }
  }

  :local(.mobileOnly) {
    display: none !important;
  }
}