@import "../styles/theme";

:local(.navBar) {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 1.4em;

  a {
    color: $text;
    text-decoration: none;
  }
}

:local(.iconContainer) {
  margin-right: 20px;

  a {
    display: block;
  }

  img {
    width: 48px;
    display: block;
  }
}

:local(.middleContainer) {
  display: flex;
  flex: 1;
}

:local(.rightContainer) {
  display: flex;
  justify-content: flex-end;
}

:local(.navList) {
  display: flex;

  li {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  :local(.middleContainer) {
    display: none;
  }

  :local(.rightContainer) {
    flex: 1;
  }
}