@import "../styles/theme";

:local(.newProjectGridItem) {
  display: flex;
  flex-direction: column;
  height: 220px;
  border-radius: 6px;
  text-decoration: none;
  border: 5px dashed $panel;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $text;
    border-color: $selected;
  }

  i {
    font-size: 3em;
    margin-bottom: 20px;
  }
}