@import "../styles/theme";

:local(.projectsSection) {
  padding-bottom: 100px;
  display: flex;

  &:first-child {
    padding-top: 100px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 16px;
  }
}

:local(.projectsContainer) {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

:local(.header) {
  align-items: center;

  & > * {
    text-align: center;
  }

  & > *:not(:first-child) {
    margin-top: 20px;
  }

  h2 {
    max-width: 480px;
  }
}

:local(.projectsHeader) {
  margin-bottom: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

:local(.loadingContainer) {
  display: flex;
  flex: 1;
}

:local(.error) {
  margin-bottom: 20px;
  color: $red;
}