@import "../styles/theme";

:local(.projectGridItem) {
  display: flex;
  flex-direction: column;
  height: 220px;
  border-radius: 6px;
  background-color: $panel2;
  text-decoration: none;
  border: 1px solid transparent;

  &:hover {
    color: inherit;
    border-color: $selected;
  }
}

:local(.thumbnailContainer) {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: stretch;
  background-color: $panel;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

:local(.thumbnail) {
  display: flex;
  flex: 1;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

:local(.titleContainer) {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 16px;

  h3 {
    font-size: 16px;
    
  }
}