@import "../styles/theme";

:local(.landingPage) {
  section {
    padding: 100px 0;
  }
}

:local(.heroContainer) {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-gap: 80px;
  max-width: 1200px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

:local(.heroLeft) {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 1.5em;
  }
}

:local(.logoContainer) {
  position: relative;
  margin-bottom: 5em;
  max-width: 385px;

  h2 {
    position: absolute;
    right: 6px;
    bottom: -8px;
    font-weight: bold;
    font-size: 3em;
  }
}

:local(.linkButtonPrimary) {
  border-radius: 4px;
  background: $blue;
  color: $text;
  min-height: 24px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;

  &:hover {
    color: $text;
    background-color: $blue-pressed;
  }

  &:active {
    color: $text;
    background-color: $blue-pressed;
  }
}

:local(.heroRight) {
  video {
    border-radius: 8px;
    background-color: $panel;
  }
}

:local(.calloutContainer) {
  display: grid;
  grid-gap: 80px;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);;
}

@media (max-width:1200px) {
  :local(.heroLeft) {
    font-size: 10px;
  }
}

@media (max-width:800px) {
  :local(.heroLeft){
    font-size: 8px;
  }
}

@media (max-width:960px) {
  :local(.heroContainer) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  :local(.calloutContainer) {
    grid-template-columns: 1fr;
  }
}
