:local(.flexRow) {
  display: flex;
  flex: 1;
}

:local(.flexColumn) {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@mixin no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:local(.disabled) {
  pointer-events: none;
  opacity: 0.3;
}
