@import "./common";
@import "./theme";

html, body, #app {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#app {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: $text;
  background-color: $background;
}

@import "./vendor/react-mosaic-component/mosaic";
@import "./vendor/react-mosaic-component/mosaic-window";

:global {
  .Modal {
    position: absolute;
    display: flex;
    flex: 1;
    outline: none;
    max-height: 100%;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .ReactModal__Overlay--after-open {
    z-index: 999;
  }

  .mosaic.mosaic-theme {
    flex: 1;

    .mosaic-window-toolbar {
      background-color: $toolbar;
      height: 24px;
    }

    .mosaic-window-title {
      @include no-select;
      padding-left: 8px;
      font-size: 12px;
      line-height: 24px;
    }

    .mosaic-window-body {
      background-color: $panel;
      display: flex;
    }

    .mosaic-window-controls {
      align-items: center;
      padding-right: 8px;

      .mosaic-default-control {
        &.pt-button {
          $button-size: 12px;

          background-color: rgba(255, 255, 255, 0.5);
          width: $button-size;
          height: $button-size;
          border-radius: $button-size;
          border: none;
          padding: 0;

          &:hover {
            background-color: $red;
          }
        }

        &.pt-icon-cross:before {
          content: none;
        }
      }
    }
  }
}
