@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Zilla+Slab:400,700);

$lato: 'Lato', sans-serif;   
$zilla: 'Zilla Slab', sans-serif;

$background: #15171B;
$input-background: #070809;
$border: #5D646C;
$panel: #282C31;
$panel2:#3A4048;
$selected: #006EFF;
$selected-text: #fff;
$hover: #4B5562;
$text: #FFFFFF;
$text2: #9FA4B5;
$dropdown: #000000;
$red: #FF0C0C;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #006EFF;
$blue-hover: #4D93F1;
$blue-pressed: #0554BC;
$disabled: #222222;
$disabled-text: grey;
$purple: #b294bb;
$deemphasized: grey;
$toolbar: #4D535B;
$toolbar2: #43484F;
$header: #1b1b1b;
$white: #fff;
$shadow-15: 0px 4px 4px  rgba(0, 0, 0, 0.15);
$shadow-30: 0px 4px 4px  rgba(0, 0, 0, 0.3);
