$background: #15171B;
$input-background: #070809;
$border: #5D646C;
$panel: #282C31;
$panel2:#3A4048;
$selected: #006EFF;
$selected-text: #fff;
$text: #FFFFFF;
$text2: #9FA4B5;
$dropdown: #000000;
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #006EFF;
$purple: #b294bb;
$deemphasized: grey;
$toolbar: #282C31;
$header: #1b1b1b;
$white: #fff;
$shadow-15: 0px 4px 4px  rgba(0, 0, 0, 0.15);
$shadow-30: 0px 4px 4px  rgba(0, 0, 0, 0.3);
