$background: #1d1f27;
$input-background: #222;
$border: rgba(255, 255, 255, 0.05);
$panel: #282a2e;
$selected: #373b41;
$text: #c5c8c6;
$text2: #969896;
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;
$deemphasized: grey;
