:local(.componentsLibraryItem) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;

  i {
    font-size: 32px;
    margin-bottom: 8px;
  }
}