@import "../styles/theme";
@import "../styles/common";

:local(.sourceInputContainer) {
  width: 100px;
  height: 24px;
}

:local(.filterInputContainer) {
  width: 100px;
  height: 24px;
}

:local(.searchContainer) {
  display: flex;
  flex: 1;
  align-items: center;

  a {
    color: $text;
  }

  input {
    @include input;
    height: 25px;
    margin-right: 8px;
    max-width: 300px;
    flex: 1;
  }
}