@import "../styles/theme";
@import "../styles/common";

:local(.libraryGridItem) {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-radius: 6px;
  background-color: $panel2;
  border: 1px solid transparent;
  overflow: hidden;
  text-decoration: none;
  @include no-select;

  &:hover {
    color: inherit;
    border-color: $selected;
  }
}

:local(.thumbnailContainer) {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: stretch;
  background-color: $panel;
}

:local(.thumbnail) {
  display: flex;
  flex: 1;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

:local(.iconLibraryItem) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
  overflow: hidden;

  i {
    font-size: 32px;
    margin-bottom: 8px;
  }

  div {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}