@import "../styles/theme";
@import "../styles/common";

:local(.libraryPanel) {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

:local(.searchBar) {
  display: flex;
  padding: 4px 8px;

  & > * {
    margin-right: 8px;
  }
}

:local(.sourceInputContainer), :local(.filterInputContainer) {
  width: 100px;
  height: 24px;
}

:local(.loadingItem) {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid transparent;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  @include no-select;
}