@import "../styles/theme";
@import "../styles/common";

:local(.libraryToolbarItem) {
  color: $text;
  background-color: $toolbar;
  border-top: 1px solid $panel2;
  border-right: 1px solid $panel2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  overflow: hidden;
  @include no-select;

  i {
    margin-right: 8px;
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-left: 1px solid $panel2;
  }

  &:last-child {
    border-top-right-radius: 6px;
  }
}

:local(.selected) {
  background-color: $selected;
}